//Colors
$color-primary: #ffce25;
$color-secondary: #0097cc;
$color-error: #ff392e;
$color-white: #ffff;
$color-grey: #7f7f7f;
$color-light-grey: #f2f2f2;
$color-black: #000;
//font-colors
$font-white: #ffff;
$font-black: #000;
//Font-sizes
$xxs-font: 8px;
$xs-font: 12px;
$s-font: 13px;
$medium-font: 15px;
$l-font: 18px;
$xl-font: 23px;
$xxl-font: 32px;
$xxxl-font: 40px;
//Pading
$very-small-padding: 0.5rem;
$small-padding: 1rem;
$medium-padding: 2rem;
$large-padding: 3rem;
$very-large-padding: 4rem;
$extra-large-padding: 6rem;
//Margin
$very-small-margin: 0.5rem;
$small-margin: 1rem;
$medium-margin: 2rem;
$large-margin: 3rem;
$very-large-margin: 4rem;
$extra-large-margin: 6rem;
