//Colors
$color-primary: #ffce25;
$color-secondary: #0097cc;
$color-error: #ff392e;
$color-white: #ffff;
$color-grey: #7f7f7f;
$color-light-grey: #f2f2f2;
$color-black: #000;
//font-colors
$font-white: #ffff;
$font-grey: #7f7f7f;
$font-black: #000;
//Font-sizes
$xxs-font: 8px;
$xs-font: 12px;
$s-font: 13px;
$medium-font: 15px;
$l-font: 18px;
$xl-font: 23px;
$xxl-font: 32px;
$xxxl-font: 40px;
//Pading
$xs-padding: 0.5rem;
$s-padding: 1rem;
$medium-padding: 2rem;
$l-padding: 3rem;
$xl-padding: 4rem;
$xxl-padding: 6rem;
//Margin
$xs-margin: 0.5rem;
$s-margin: 1rem;
$medium-margin: 2rem;
$l-margin: 3rem;
$xl-margin: 4rem;
$xxl-margin: 6rem;
