@import '../../sass/brakepoints';

.workshop-container {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  @include media('<=tablet') {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
