@import '../../sass/brakepoints';
@import '../../sass/variables';
.workshop-container {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  @include media('<=tablet') {
    padding: $s-padding;
    flex-direction: column;
    align-items: center;
  }
}
