@import '../../sass/brakepoints';
@import '../../sass/variables';
.error {
  font-weight: 600;
  font-size: $medium-font;
  line-height: 125%;
  color: $color-error;
  @include media('<=phone') {
    text-align: end;
    width: 80%;
    font-size: $s-font;
  }
}
