.icon-active {
  width: 18px;
  height: 18px;
  animation: icon-active 0.5s;
}
.icon-inactive {
  width: 18px;
  height: 18px;
  filter: brightness(0);
  animation: icon-inactive 0.5s;
}
.icon-shop {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}

@keyframes icon-active {
  0% {
    filter: brightness(0);
  }
  50% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes icon-inactive {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(0);
  }
}
