@import '../../sass/variables';
@import '../../sass/brakepoints';
.purchase-container {
  align-self: flex-start;
  margin: $s-margin;
  padding: $medium-padding;
  width: 40%;
  box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.25);
  border-radius: 8px;
  @include media('<=tablet') {
    margin: 0;
    padding: $s-padding;
    bottom: 0;
    left: 0;
    border-radius: 0;
    z-index: 99;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    box-shadow: -1px -2px 4px rgba(127, 127, 127, 0.25);
  }
  h5 {
    margin: 0;
    margin-bottom: $s-margin;
    font-weight: 700;
    font-size: 23px;
    line-height: 125%;
  }
  h2 {
    margin: 0;
    margin-bottom: $s-margin;
    font-weight: 700;
    font-size: $xxxl-font;
    line-height: 125%;
    @include media('<=tablet') {
      margin-bottom: 0;
      font-size: 20px;
      padding-left: $s-padding;
    }
    @include media('<=phone') {
      padding-left: 0;
    }
  }
  .form-container {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    @include media('<=tablet') {
      margin-top: 0;
      width: 70%;
      align-items: center;
      justify-content: space-around;
    }
    .select-container {
      position: relative;
      .arrow-down {
        padding: 0;
        margin-left: $xs-margin;
        width: 10px;
        height: 10px;
      }
      .select {
        position: relative;
        z-index: 6;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 60px;
        margin: 0;
        border: 1px solid #0097cc;
        box-sizing: border-box;
        border-radius: 8px;
        outline: none;
        font-weight: 700;
        background-color: $color-white;
        @include media('<=tablet') {
          width: 70px;
          height: 50px;
        }
      }
      .tickets {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: $xl-font;
        line-height: 125%;
        background-color: $color-white;
        color: $font-black;
        @include media('<=tablet') {
          font-size: $l-font;
        }
      }
      .options-container {
        z-index: 1;
        bottom: -120px;
        left: 0px;
        width: 80px;
        max-height: 120px;
        text-align: center;
        position: absolute;
        box-sizing: border-box;
        border-radius: 0px 0px 8px 8px;
        border: 1px solid rgba(191, 191, 191, 0.224);
        overflow-y: scroll;
        background-color: $color-white;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        @include media('<=tablet') {
          bottom: unset;
          top: -120px;
          border-radius: 8px 8px 0px 0px;
        }
        .option {
          width: 100%;
          border-bottom: 1px solid rgba(191, 191, 191, 0.272);
        }
        .option:hover {
          background-color: $color-secondary;
        }
        label {
          width: 100%;
          font-weight: 700;
          font-size: 14px;
          line-height: 125%;
        }
      }
      .options-container::-webkit-scrollbar {
        display: none;
      }

      label {
        margin: 0;
      }
    }

    button {
      cursor: pointer;
      padding: $s-padding;
      margin-left: $s-margin;
      width: 60%;
      height: 65px;
      outline: none;
      border: none;
      background-color: $color-primary;
      box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
      border-radius: 6px;
      font-weight: 700;
      font-size: $l-font;
      line-height: 125%;
      @include media('<=tablet') {
        margin-left: 0;
        padding: 1rem 2rem 1rem 2rem;
        height: unset;
        width: unset;
      }
      span {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
  h6 {
    margin: 0;
    margin-top: $s-margin;
    margin-left: $xxl-margin;
    font-weight: 600;
    font-size: $l-font;
    line-height: 125%;
    color: $font-grey;
  }
}
