@import '../../sass/brakepoints';
@import '../../sass/variables';
.recomended-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: $color-light-grey;
  @include media('<=tablet') {
    flex-direction: column;
    align-items: center;
    width: unset;
  }
}
.placeholder {
  width: 20%;
  @include media('<=tablet') {
    width: 0;
  }
}
.recomended-pages-container {
  width: 75%;
  padding: $s-padding;
  h2 {
    margin: 1rem 0rem 1rem 0rem;
    font-weight: 700;
    font-size: $xxxl-font;
    line-height: 125%;
    @include media('<=tablet') {
      font-size: $xxl-font;
    }
  }
}
.gallery-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2rem;
  margin-bottom: $l-margin;
  @include media('<=tablet') {
    grid-template-columns: 2fr 2fr;
  }
  @include media('<=phone') {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
