@import '../../../sass/variables';
@import '../../../sass/brakepoints';
.backdrop {
  z-index: 98;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(61, 61, 61, 0.381);
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @include media('<=phone') {
    background-color: transparent;
  }
}
.backdrop::-webkit-scrollbar {
  display: none;
}

.modal {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal-container {
  z-index: 99;
  position: relative;
  width: 50%;
  padding: $xl-padding;
  box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.25);
  border-radius: 16px;
  background-color: white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: $xl-margin;
  @include media('<=small-tablet') {
    width: 80%;
    padding: $l-padding;
    margin-bottom: 0;
  }
  @include media('<=phone') {
    border-radius: 16px 16px 0 0;
    width: 100%;
    margin-bottom: 0;
  }
  img {
    position: absolute;
    top: 4rem;
    right: 4rem;
    width: 15px;
    height: 15px;

    @include media('<=small-tablet') {
      top: 3rem;
      right: 3rem;
    }
  }
  button {
    cursor: pointer;
    width: 30%;
    height: 60px;
    margin-top: $medium-margin;
    outline: none;
    border: none;
    background-color: $color-primary;
    box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
    border-radius: 6px;
    font-weight: 700;
    font-size: $l-font;
    line-height: 125%;
    @include media('<=phone') {
      width: 100%;
    }
  }
}
.title {
  font-weight: 700;
  font-size: $xxxl-font;
  line-height: 125%;
  @include media('<=phone') {
    font-size: $xxl-font;
  }
}
.instructions {
  width: 30%;
  margin-top: $s-margin;
  margin-bottom: $s-margin;
  font-weight: 600;
  font-size: $medium-font;
  line-height: 125%;
  color: $color-grey;
  @include media('<=phone') {
    width: 55%;
    font-size: $s-font;
  }
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $s-margin;
  .error {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  label {
    width: 100%;
    font-weight: 700;
    font-size: $medium-font;
    line-height: 125%;
    @include media('<=phone') {
      font-size: $s-font;
    }
  }
  input {
    margin-top: $xs-margin;
    width: 100%;
    max-height: 55px;
    font-family: 'Livvic', sans-serif;
    border: none;
    border-bottom: 2px solid $color-light-grey;
    padding-left: 0rem;
    font-weight: 500;
    font-size: $l-font;
    line-height: 300%;
    color: $font-black;
    animation: unfocus-animation 0.25s;
  }
  input:focus {
    width: 95%;
    outline: none;
    background-color: $color-light-grey;
    border-bottom: 2px solid $color-secondary;
    padding-left: $medium-padding;
    animation: focus-animation 0.25s;
  }

  input::placeholder {
    font-weight: 500;
    font-size: $l-font;
    line-height: 150%;
    color: #7f7f7f;
    @include media('<=phone') {
      font-size: $s-font;
    }
  }
}

.input-container-invalid {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $s-margin;
  .error {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  label {
    width: 100%;
    font-weight: 700;
    font-size: $medium-font;
    line-height: 125%;
    @include media('<=phone') {
      font-size: $s-font;
    }
  }
  input {
    margin-top: $xs-margin;
    width: 100%;
    max-height: 55px;
    font-family: 'Livvic', sans-serif;
    border: none;
    border-bottom: 2px solid $color-error;
    padding: 0;
    font-weight: 500;
    font-size: $l-font;
    line-height: 300%;
    color: $font-black;
    animation: unfocus-animation 0.25s;
  }
  input:focus {
    width: 95%;
    outline: none;
    background-color: $color-light-grey;
    padding-left: $medium-padding;
    animation: focus-animation 0.25s;
  }

  input::placeholder {
    font-weight: 500;
    font-size: $l-font;
    line-height: 150%;
    color: #7f7f7f;
    @include media('<=phone') {
      font-size: $s-font;
    }
  }
}

.small-input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include media('<=phone') {
    display: flex;
    flex-direction: column;
  }
  .date-input {
    position: relative;
    width: 90%;
    max-height: 70px;
    display: flex;
    flex-direction: column;
    margin-bottom: $s-margin;
    @include media('<=phone') {
      width: 100%;
    }
    .small-error {
      position: absolute;
      top: 0;
      right: 25px;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include media('<=phone') {
        right: 0px;
      }
    }
    label {
      width: 100%;
      font-weight: 700;
      font-size: $medium-font;
      line-height: 125%;
    }
    input {
      margin-top: $xs-margin;
      width: 90%;
      height: 55px;
      font-family: 'Livvic', sans-serif;
      border: none;
      border-bottom: 2px solid $color-light-grey;
      padding: 0.5rem 0rem 0.5rem 0rem;
      font-weight: 500;
      font-size: $l-font;
      line-height: 150%;
      color: $font-black;
      @include media('<=phone') {
        width: 100%;
      }
    }
    input:focus {
      outline: none;
      border-bottom: 2px solid $color-secondary;
    }
    input::-webkit-calendar-picker-indicator {
      background: url(../../../assets/date.svg) no-repeat;
    }
    input::-webkit-datetime-edit-month-field,
    ::-webkit-datetime-edit-day-field,
    ::-webkit-datetime-edit-year-field {
      font-family: 'Livvic', sans-serif;
      color: rgb(0, 0, 0);
      text-transform: uppercase;
    }
  }
}

.date-input-error {
  position: relative;
  width: 90%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: $s-margin;
  @include media('<=phone') {
    width: 100%;
  }
  .small-error {
    position: absolute;
    top: 0;
    right: 25px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include media('<=phone') {
      right: 0px;
    }
  }
  label {
    width: 100%;
    font-weight: 700;
    font-size: $medium-font;
    line-height: 125%;
  }
  input {
    margin-top: $xs-margin;
    width: 90%;
    height: 55px;
    font-family: 'Livvic', sans-serif;
    border: none;
    border-bottom: 2px solid $color-error;
    padding: 0;
    font-weight: 500;
    font-size: $l-font;
    line-height: 300%;
    color: $font-black;
    @include media('<=phone') {
      width: 100%;
    }
  }
  input:focus {
    outline: none;
  }
  input::-webkit-calendar-picker-indicator {
    background: url(../../../assets/date.svg) no-repeat;
  }
  input::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-year-field {
    font-family: 'Livvic', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gender-input {
  position: relative;
  width: 90%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: $s-margin;
  @include media('<=phone') {
    width: 100%;
  }
  label {
    width: 100%;
    font-weight: 700;
    font-size: $medium-font;
    line-height: 125%;
  }
  select {
    height: 70px;
    border: none;
    font-weight: 500;
    font-size: $l-font;
    font-family: 'Livvic', sans-serif;
    line-height: 150%;
    color: #000000;
    border-bottom: 2px solid $color-light-grey;
  }
  select:focus {
    outline: none;
  }
  option {
    font-weight: 500;
    font-size: $l-font;
    line-height: 150%;
    color: #000000;
  }
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    width: 32px;
    height: 32px;
    background: $color-secondary;
    border-radius: 4px;
  }
  label {
    margin-left: 1rem;
    font-weight: 600;
    font-size: $medium-font;
    line-height: 125%;
    color: $font-black;
  }
}

.form-error {
  position: absolute;
  width: 45%;
  bottom: 5rem;
  right: 2rem;
  font-weight: 600;
  font-size: $medium-font;
  line-height: 125%;
  color: $color-error;
  margin-right: 2rem;
  @include media('<=phone') {
    right: -1rem;
    bottom: 8rem;
  }
}
// background-color: $color-light-grey;
//padding: 0.5rem 0rem 0.5rem 2rem;
@keyframes focus-animation {
  0% {
    background-color: white;
    padding: 0;
  }
  10% {
    padding-left: 0.1rem;
  }
  20% {
    padding-left: 0.2rem;
  }
  100% {
    background-color: $color-light-grey;
    padding-left: $medium-padding;
  }
}

@keyframes unfocus-animation {
  0% {
    background-color: $color-light-grey;
    padding-left: $medium-padding;
  }
  100% {
    background-color: white;
    padding: 0rem;
  }
}
