@import '../../../sass/variables';
.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.381);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.backdrop::-webkit-scrollbar {
  display: none;
}

.modal {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal-container {
  z-index: 99;
  position: relative;
  width: 50%;
  padding: 4rem;
  box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.25);
  border-radius: 16px;
  background-color: white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 4rem;
  img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 4rem;
    right: 4rem;
  }
  button {
    cursor: pointer;
    width: 30%;
    height: 60px;
    margin-top: 2rem;
    outline: none;
    border: none;
    background-color: $color-primary;
    box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
  }
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}
.instructions {
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  color: #7f7f7f;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .error {
    position: absolute;
    top: 0;
    right: 0;
  }
  label {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 125%;
  }
  input {
    margin-top: 0.5rem;
    width: 100%;
    max-height: 55px;
    font-family: 'Livvic', sans-serif;
    border: none;
    border-bottom: 2px solid #f2f2f2;
    padding-left: 0rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 300%;
    color: #0d0d0d;
    animation: unfocus-animation 0.25s;
  }
  input:focus {
    width: 95%;
    outline: none;
    background-color: #f2f2f2;
    border-bottom: 2px solid #0097cc;
    padding-left: 2rem;
    animation: focus-animation 0.25s;
  }

  input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #7f7f7f;
  }
}

.input-container-invalid {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .error {
    position: absolute;
    top: 0;
    right: 0;
  }
  label {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 125%;
  }
  input {
    margin-top: 0.5rem;
    width: 100%;
    max-height: 55px;
    font-family: 'Livvic', sans-serif;
    border: none;
    border-bottom: 2px solid #cc0000;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 300%;
    color: #0d0d0d;
    animation: unfocus-animation 0.25s;
  }
  input:focus {
    width: 95%;
    outline: none;
    background-color: #f2f2f2;
    padding-left: 2rem;
    animation: focus-animation 0.25s;
  }

  input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #7f7f7f;
  }
}

.small-input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  .date-input {
    position: relative;
    width: 90%;
    max-height: 70px;
    display: flex;
    flex-direction: column;
    .small-error {
      position: absolute;
      top: 0;
      right: 25px;
    }
    label {
      width: 100%;
      font-weight: 700;
      font-size: 15px;
      line-height: 125%;
    }
    input {
      margin-top: 0.5rem;
      width: 90%;
      height: 55px;
      font-family: 'Livvic', sans-serif;
      border: none;
      border-bottom: 2px solid #f2f2f2;
      padding: 0.5rem 0rem 0.5rem 0rem;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #0d0d0d;
    }
    input:focus {
      outline: none;
      border-bottom: 2px solid #0097cc;
    }
    input::-webkit-calendar-picker-indicator {
      background: url(../../../assets/date.svg) no-repeat;
    }
    input::-webkit-datetime-edit-month-field,
    ::-webkit-datetime-edit-day-field,
    ::-webkit-datetime-edit-year-field {
      font-family: 'Livvic', sans-serif;
      color: rgb(0, 0, 0);
      text-transform: uppercase;
    }
  }
}

.date-input-error {
  position: relative;
  width: 90%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  .small-error {
    position: absolute;
    top: 0;
    right: 25px;
  }
  label {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 125%;
  }
  input {
    margin-top: 0.5rem;
    width: 90%;
    height: 55px;
    font-family: 'Livvic', sans-serif;
    border: none;
    border-bottom: 2px solid #cc0000;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 300%;
    color: #0d0d0d;
  }
  input:focus {
    outline: none;
  }
  input::-webkit-calendar-picker-indicator {
    background: url(../../../assets/date.svg) no-repeat;
  }
  input::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-year-field {
    font-family: 'Livvic', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gender-input {
  position: relative;
  width: 90%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  border: none;
  label {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 125%;
  }
  select {
    height: 70px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Livvic', sans-serif;
    line-height: 150%;
    color: #000000;
    border-bottom: 2px solid #f2f2f2;
  }
  select:focus {
    outline: none;
  }
  option {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
  }
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    width: 32px;
    height: 32px;
    background: #0097cc;
    border-radius: 4px;
  }
  label {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 15px;
    line-height: 125%;
    color: #0d0d0d;
  }
}

.form-error {
  position: absolute;
  width: 45%;
  bottom: 5rem;
  right: 2rem;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  color: #ff392e;
  margin-right: 2rem;
}
// background-color: #f2f2f2;
//padding: 0.5rem 0rem 0.5rem 2rem;
@keyframes focus-animation {
  0% {
    background-color: white;
    padding: 0;
  }
  10% {
    padding-left: 0.1rem;
  }
  20% {
    padding-left: 0.2rem;
  }
  100% {
    background-color: #f2f2f2;
    padding-left: 2rem;
  }
}

@keyframes unfocus-animation {
  0% {
    background-color: #f2f2f2;
    padding-left: 2rem;
  }
  100% {
    background-color: white;
    padding: 0rem;
  }
}
