@import '../../sass/variables';
@import '../../sass/brakepoints';
.header-container {
  z-index: 99;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  height: 90px;
  background-color: $color-primary;
  img {
    cursor: pointer;
    padding: $s-padding;
    width: 105px;
    @include media('<=phone') {
      width: 90px;
    }
  }
}
.cart-info-container {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $s-padding;
  padding-right: $xxl-padding;
  @include media('<=tablet') {
    padding-right: $l-padding;
  }
  h6 {
    margin: 0;
    font-weight: 700;
    font-size: $xs-font;
  }
  img {
    padding: 0;
    width: 20px;
    @include media('<=tablet') {
      width: 25px;
    }
  }
}
.notification {
  position: absolute;
  top: -5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $color-secondary;
  font-size: $xxs-font;
  font-weight: 700;

  @include media('<=tablet') {
    right: unset;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 35px;
  }
}
.cart-icon {
  position: relative;
  padding-right: 10px;
}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
