@import '../../../sass/variables';
@import '../../../sass/brakepoints';
.cart-container {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26vw;
  height: 100vh;
  padding: $xs-padding;
  background-color: $color-white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-shadow: -1px -2px 16px rgba(127, 127, 127, 0.25);
  @include media('<=tablet') {
    width: 40vw;
  }
  @include media('<=small-tablet') {
    width: 50vw;
  }
  @include media('<=phone') {
    padding: 0rem;
    width: 100vw;
  }
}
.cart-container::-webkit-scrollbar {
  display: none;
}
.title-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: $xs-margin;
  margin-bottom: $s-margin;
  padding: $s-padding;

  .cart-counter {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    .notification {
      position: absolute;
      top: 0px;
      left: 20px;
      width: 10px;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $color-secondary;
      font-size: $xxs-font;
      @include media('<=tablet') {
        display: none;
      }
    }
    img {
      padding: 0;
      width: 25px;
      height: 25px;
      margin-right: $s-margin;
    }
    h5 {
      margin: 0;
      font-weight: 700;
      font-size: $xl-font;
      line-height: 125%;
      @include media('<=tablet') {
        font-size: $l-font;
      }
    }
  }
  img {
    padding: 0;
    width: 20px;
    height: 20px;
  }
}
.layout-container {
  width: 100%;
}
.cart-infor-container {
  align-self: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-top: $medium-margin;
  margin-bottom: $l-margin;
  padding: $s-padding;

  h5 {
    margin: 0;
    margin-left: $s-margin;
    font-weight: 700;
    font-size: $xs-font;
    line-height: 125%;
    color: #7f7f7f;
  }
  h2 {
    margin: 0;
    margin-left: $s-margin;
    font-weight: 700;
    font-size: $xxl-font;
    line-height: 125%;
  }
  span {
    margin: 0;
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: $l-font;
    line-height: 125%;
  }
  button {
    cursor: pointer;
    align-self: center;
    width: 80%;
    margin-top: $s-margin;
    padding:$s-padding;
    outline: none;
    border: none;
    color: white;
    background-color: #0097cc;
    box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
    border-radius: 6px;
    font-weight: 700;
    font-size: $l-font;
    line-height: 125%;
    @include media('<=phone') {
      margin-top: $l-margin;
    }
  }
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
