@import '../../../sass/variables';
.select-container {
  position: relative;

  .arrow-down {
    width: 10px;
    height: 10px;
    padding: 0;
    margin-left: $xs-margin;
  }
  .select {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 6;
    width: 50px;
    height: 40px;
    border: 1px solid #0097cc;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    font-size: $l-font;
    line-height: 125%;
    padding: $xs-padding;
    background-color: white;
  }
  .options-container {
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: -80px;
    left: 0px;
    width: 50px;
    max-height: 80px;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(191, 191, 191, 0.224);
    overflow-y: scroll;
    background-color: $color-white;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .options-container::-webkit-scrollbar {
    display: none;
  }
}
