@import '../../sass/brakepoints';
@import '../../sass/variables';
.footer-container {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  background-color: $color-light-grey;
  h6 {
    padding: 2rem 2rem 2rem 2rem;
    overflow-x: hidden;
    font-weight: 600;
    font-size: $medium-font;
    line-height: 125%;
    color: $font-grey;
    @include media('<=phone') {
      font-size: $s-font;
    }
  }
}
