.category-container {
  width: 15%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  .title {
    margin: 1rem;
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 700;
    margin-left: 1.5rem;
    margin-top: 3rem;
  }
}
.categorys {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  .icon-container {
    width: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0.5rem;
  }
  .category-title {
    margin: 0;
    font-size: 20px;
    line-height: 125%;
    color: black;
  }
}
.category-title:hover {
  color: #019fb6;
  animation: color-change-blue 250ms;
}
.category-title:after {
  display: block;
  content: '';
  color: #019fb6;
  border-bottom: solid 2px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.category-title:hover:after {
  transform: scaleX(1);
  color: #019fb6;
}
.category-title-active {
  margin: 0;
  font-size: 20px;
  line-height: 125%;
  color: #019fb6;
  border-bottom: solid 2px #019fb6;
}

@keyframes color-change-blue {
  0% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: #019fb6;
  }
}
